//- Now here you are defining what other than nav bar and footer will happen when you type localhost:8000/contacts.

extends base.pug

block scripts
    script(src='/static/index.js.js')

block style 
    style
      include ../static/style.css
      //- This above script will be applied to those elements in content of base.pug whose css is written inside style.css 
      //- This below script will be applied to those elements in content of contact.pug whose css is written inside contacts_style.css 
      include ../static/contacts_style.css
block content 
    h1 Contact Us 
    form(action="/contacts", method="post", class="inputform") 
       input(type="text", name="name",placeholder="Enter your Name", id="name" class="myInput")
       input(type="tel", name="phone",placeholder="Enter your Phone" class="myInput")
       input(type="email", name="email",placeholder="Enter your Email" class="myInput")
       input(type="address", name="address",placeholder="Enter your Address" class="myInput")
       input(type="text", name="desc",placeholder="Enter your Concern here" class="myInput")
       button(type="submit" class="btn") 
            | Submit
       